@import "tailwindcss";



/* Global */

:root {
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --complimentary-color: #23CE6B;
  --header-color: #E5E7EB;
  --header-text-color: #000000;
  --dark-theme: #121212;
  /* f2f2f2  F6FEFA 23CE6B */
}

body {
  font-family: 'Anonymous Pro', monospace;
}