@import "tailwindcss";



/* Global */

:root {
	--primary-color: #ffffff; /* Example primary color */
	--text-color: #000000; /* Example text color */
	--accent-color: #6d8fff; /* Example accent color */
	--secondary-color: #e4e4e4; /* Example secondary color */
	--button-text-color: #000000; /* Example button text color */
}

body {
  font-family: 'Anonymous Pro', monospace;
}